[Unit]
Description=Reverse SSH Access
IgnoreOnIsolate=true
After=network-online.target
Wants=network.target

[Service]
Type=simple
ExecStart=ssh sshproxy -NR "/home/sshproxy/sshproxy.sock:localhost:22"
Restart=on-failure
RestartSec=10sec

[Install]
WantedBy=default.target