[Unit]
Description=Reverse SSH Access
IgnoreOnIsolate=true
After=network.target

[Service]
Type=simple
ExecStart=ssh sshproxy -NR "/home/sshproxy/sshproxy.sock:localhost:22"
Restart=on-failure

[Install]
WantedBy=default.target
