set pgp_use_gpg_agent=yes
set pgp_sign_as=0x63C83DC8F9D7DB71

set crypt_use_gpgme=yes
set crypt_verify_sig=yes

# set crypt_autosign=yes
set crypt_replysign=yes
set crypt_replyencrypt=yes
set crypt_replysignencrypted=yes
