# This is Git's per-user configuration file.
[user]
name = Sam Mason
email = sam@samason.uk
signingkey = 0x63C83DC8F9D7DB71

[sendemail]
aliasesfile=/home/smason/.mutt/aliases
aliasfiletype=mutt

[push]
default = simple

[alias]
lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %s%C(reset) %C(white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
