# This is Git's per-user configuration file.
[user]
name = Sam Mason
email = sam@samason.uk
signingkey = 0x63C83DC8F9D7DB71

[sendemail]
aliasesfile=/Users/smason/.mutt/aliases
aliasfiletype=mutt

[push]
default = simple
