# This is Git's per-user configuration file.
[user]
name = Sam Mason
email = sam@samason.uk
	signingkey = 0x5B78591285BB94DF

[sendemail]
aliasesfile=/Users/smason/.mutt/aliases
aliasfiletype=mutt

[push]
default = simple
