! Xft.dpi:                    96
Xft.antialias:              true
Xft.rgba:                   rgb
Xft.hinting:                true
Xft.hintstyle:              hintslight

Xcursor.size: 32


! do not scroll with output
URxvt*scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

URxvt.font: xft:Roboto Mono:light:size=9
URxvt.letterSpace: -1

! Colours lifted from Solarized (http://ethanschoonover.com/solarized)
URxvt.depth:                32
URxvt.transparent:          false
URxvt.saveLines:            20000

URxvt.scrollBar:            false

URxvt.cursorBlink:          true
URxvt.cursorColor:          #657b83
URxvt.cursorUnderline:      false

URxvt.pointerBlank:         true


*foreground:   #c5c8c6
*background:   #1d1f21
*cursorColor:  #aeafad

! Black + DarkGrey
*color0:       #000000
*color8:       #666666

! DarkRed + Red
*color1:       #912226
*color9:       #cc6666

! DarkGreen + Green
*color2:       #778900
*color10:      #b5bd68

! DarkYellow + Yellow
*color3:       #ae7b00
*color11:      #f0c674

! DarkBlue + Blue
*color4:       #454fd3
*color12:      #81a2be

! DarkMagenta + Magenta
*color5:       #682a9b
*color13:      #b294bb

!DarkCyan + Cyan (both not tango)
*color6:       #2b6651
*color14:      #8abeb7

! LightGrey + White
*color7:       #929593
*color15:      #ecebec
